# Module: Pandas Assignments
## Lesson: Pandas

In [1]:
import pandas as pd
import numpy as np

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [10]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  74  29   6  77
1  48  45  26  36
2  51  53   9  33
3  82  72  13  62
4  13  43  17   7
5  94  44  97  55
DataFrame with new index:
     B   C   D
A
74  29   6  77
48  45  26  36
51  53   9  33
82  72  13  62
13  43  17   7
94  44  97  55
Original DataFrame:
    A   B   C   D
0  15  45  25  79
1  45  85  99   4
2  96  35  22  90
3  18  84  17  73
4  80  50  79  11
5  42  27  89  56
DataFrame with new index:
     B   C   D
A
15  45  25  79
45  85  99   4
96  35  22  90
18  84  17  73
80  50  79  11
42  27  89  56

In [3]:
#Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index= ['X', 'Y', 'Z'])
print("DataFrame with custom index:")
print(df)

ele  = df.loc['Y', 'B']
print("Element at index 'Y' and column 'B':", ele)

DataFrame with custom index:
    A   B   C
X   2  64  67
Y  26   3   6
Z  68  92  47
Element at index 'Y' and column 'B': 3

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [4]:
#Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:\n", df)

new_col = df['A'] * df['B']
df['Product'] = new_col
print("DataFrame with new column 'Product':\n", df)

Original DataFrame:
     A   B   C
0  85  19  91
1  70  95  82
2  40  60  55
3  81  73  64
4   3  90   9
DataFrame with new column 'Product':
     A   B   C  Product
0  85  19  91     1615
1  70  95  82     6650
2  40  60  55     2400
3  81  73  64     5913
4   3  90   9      270

In [5]:
#Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

df  = pd.DataFrame(np.random.randint(1,100, size=(4,3)), columns=['A','B','C'])
print(f"Original DataFrame:\n",df)

col_sum = df.sum(axis=0)  # Column-wise sum
row_sum = df.sum(axis=1)  # Row-wise sum
print(f"Column-wise sum:\n{col_sum}")
print(f"Row-wise sum:\n{row_sum}")

Original DataFrame:
     A   B   C
0  16  43  98
1  80  84  45
2  22  46  10
3  23  49  60
Column-wise sum:
A    141
B    222
C    213
dtype: int64
Row-wise sum:
0    157
1    209
2     78
3    132
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [6]:
#Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
df.iloc[1, 1] = np.nan  # Introduce NaN value
df.iloc[2, 0] = np.nan  # Introduce NaN value
df.iloc[3, 2] = np.nan  # Introduce NaN value
print("Original DataFrame with NaN values:\n", df)

df.fillna(df.mean(), inplace=True)  # Fill NaN values with column mean
print("DataFrame after filling NaN values with column mean:\n", df)

Original DataFrame with NaN values:
       A     B     C
0  91.0  69.0  27.0
1  64.0   NaN  16.0
2   NaN  90.0   7.0
3  87.0  39.0   NaN
4  64.0  67.0  84.0
DataFrame after filling NaN values with column mean:
       A      B     C
0  91.0  69.00  27.0
1  64.0  66.25  16.0
2  76.5  90.00   7.0
3  87.0  39.00  33.5
4  64.0  67.00  84.0

In [7]:
#Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
df.iloc[1, 1] = np.nan  # Introduce NaN value
df.iloc[3, 2] = np.nan  # Introduce NaN value
df.iloc[4, 0] = np.nan  # Introduce NaN value
print("Original DataFrame with NaN values:\n", df)

df.dropna(inplace=True)  # Drop rows with any NaN values
print("DataFrame after dropping rows with NaN values:\n", df)

Original DataFrame with NaN values:
       A     B     C   D
0  22.0  73.0  64.0  43
1  88.0   NaN  85.0  72
2  45.0  34.0  67.0  78
3   9.0  77.0   NaN  18
4   NaN  54.0  30.0  54
5  53.0  34.0  54.0  26
DataFrame after dropping rows with NaN values:
       A     B     C   D
0  22.0  73.0  64.0  43
2  45.0  34.0  67.0  78
5  53.0  34.0  54.0  26

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [8]:
#Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

df = pd.DataFrame({
    'Category': np.random.choice(['A', 'B', 'C'], size=10),
    'Value': np.random.randint(1, 100, size=10)
})
print("Original DataFrame:\n", df)

Original DataFrame:
   Category  Value
0        B     20
1        A     29
2        B     74
3        B     57
4        B     52
5        A     13
6        A     44
7        B     18
8        B     70
9        B     47

In [16]:
#Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod2        A     12
1   Prod2        A     84
2   Prod1        B     54
3   Prod3        C     76
4   Prod2        C     89
5   Prod2        B     83
6   Prod1        A     59
7   Prod3        A     88
8   Prod2        A     52
9   Prod1        C      9
Grouped DataFrame:
Category
A    295
B    137
C    174
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [17]:
#Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [24, 30, 22]})  
print("DataFrame 1:\n", df1)
print("DataFrame 2:\n", df2)
merged_df = pd.merge(df1,df2, on='ID', how='inner')
print("Merged DataFrame:\n", merged_df)

DataFrame 1:
    ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
DataFrame 2:
    ID  Age
0   2   24
1   3   30
2   4   22
Merged DataFrame:
    ID     Name  Age
0   2      Bob   24
1   3  Charlie   30

In [20]:
#Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'C': [5, 6], 'D': [7, 8]})
print("DataFrame 1:\n", df1)
print("DataFrame 2:\n", df2)
concat_rows = pd.concat([df1, df2], axis=0)  # Concatenate along rows
concat_cols = pd.concat([df1, df2], axis=1)  # Concatenate along columns
print("Concatenated DataFrame along rows:\n", concat_rows)
print("Concatenated DataFrame along columns:\n", concat_cols)

DataFrame 1:
    A  B
0  1  3
1  2  4
DataFrame 2:
    C  D
0  5  7
1  6  8
Concatenated DataFrame along rows:
      A    B    C    D
0  1.0  3.0  NaN  NaN
1  2.0  4.0  NaN  NaN
0  NaN  NaN  5.0  7.0
1  NaN  NaN  6.0  8.0
Concatenated DataFrame along columns:
    A  B  C  D
0  1  3  5  7
1  2  4  6  8

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [23]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('ME').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    79
2022-01-02    26
2022-01-03    45
2022-01-04    89
2022-01-05    99
...          ...
2022-12-27    84
2022-12-28    87
2022-12-29    54
2022-12-30    81
2022-12-31    38

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  43.903226
2022-02-28  52.607143
2022-03-31  35.774194
2022-04-30  45.433333
2022-05-31  48.741935
2022-06-30  41.633333
2022-07-31  45.000000
2022-08-31  40.032258
2022-09-30  57.233333
2022-10-31  42.161290
2022-11-30  54.600000
2022-12-31  44.774194

In [24]:
#Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

df = pd.DataFrame(np.random.randint(1, 100, size=(365, 1)), columns=['Value'], index=pd.date_range(start='2021-01-01', end='2021-12-31'))
print("Original DataFrame:\n",df)

rolling_mean = df.rolling(window=7).mean()
print("Rolling mean with a window of 7 days:\n", rolling_mean)

Original DataFrame:
             Value
2021-01-01     70
2021-01-02     89
2021-01-03     76
2021-01-04     21
2021-01-05      7
...           ...
2021-12-27     91
2021-12-28     87
2021-12-29     48
2021-12-30     46
2021-12-31     30

[365 rows x 1 columns]
Rolling mean with a window of 7 days:
                 Value
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  44.000000
2021-12-28  47.571429
2021-12-29  47.142857
2021-12-30  45.428571
2021-12-31  46.000000

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [28]:
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              17      81      98
         two              62      16      53
B        one              72      93      66
         two              56      73      60
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              17      81      98
two              62      16      53
Slicing at Category 'B' and SubCategory 'two':
Value1    56
Value2    73
Value3    60
Name: (B, two), dtype: int32

In [33]:
#Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])  
print("MultiIndex DataFrame:\n", df)
sum_values = df.groupby(level=0).sum()  # Sum of values for each 'Category'
print("Sum of values for each 'Category':\n", sum_values)
sum_values_sub = df.groupby(level=1).sum()  # Sum of values for each 'SubCategory'
print("Sum of values for each 'SubCategory':\n", sum_values_sub)

MultiIndex DataFrame:
                       Value1  Value2  Value3
Category SubCategory
A        one              34      21      59
         two              92      53      79
B        one              24      52      65
         two              88      13      47
Sum of values for each 'Category':
           Value1  Value2  Value3
Category
A            126      74     138
B            112      65     112
Sum of values for each 'SubCategory':
              Value1  Value2  Value3
SubCategory
one              58      73     124
two             180      66     126

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [41]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-08        A     89
1  2022-01-08        A     35
2  2022-01-03        C     73
3  2022-01-03        C     69
4  2022-01-04        C     83
5  2022-01-02        C     87
6  2022-01-10        A     99
7  2022-01-02        C     62
8  2022-01-04        B     79
9  2022-01-08        A     71
10 2022-01-05        C     23
11 2022-01-10        B      9
12 2022-01-09        B     33
13 2022-01-02        A     91
14 2022-01-05        A     16
15 2022-01-01        C     13
16 2022-01-04        A     96
17 2022-01-01        B     53
18 2022-01-05        B     32
19 2022-01-04        B     73
Pivot Table:
Category        A      B      C
Date
2022-01-01    NaN   53.0   13.0
2022-01-02   91.0    NaN  149.0
2022-01-03    NaN    NaN  142.0
2022-01-04   96.0  152.0   83.0
2022-01-05   16.0   32.0   23.0
2022-01-08  195.0    NaN    NaN
2022-01-09    NaN   33.0    NaN
2022-01-10   99.0    9.0    NaN

In [43]:
#2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

df = pd.DataFrame({
    'Year': [2020, 2020, 2021, 2021],
    'Quarter': ['Q1', 'Q2', 'Q1', 'Q2'],
    'Revenue': [100, 200, 150, 250]
})
print("Original DataFrame:\n", df)
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:\n", pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0  2020      Q1      100
1  2020      Q2      200
2  2021      Q1      150
3  2021      Q2      250
Pivot Table:
 Quarter     Q1     Q2
Year
2020     100.0  200.0
2021     150.0  250.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [ ]:
#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

df =pd.DataFrame((np.random.randint(1,100, size=(5,3))) ,columns=['A','B','C'])
print("Original DataFrame:\n", df)

df_doubled = df.map(lambda x: x * 2)  # Double each element in the DataFrame
print("DataFrame after applying function:\n", df_doubled)

Original DataFrame:
     A   B   C
0  96  78  70
1  55  37  41
2  30  96  86
3  46  71   6
4  77   8  48
DataFrame after applying function:
      A    B    C
0  192  156  140
1  110   74   82
2   60  192  172
3   92  142   12
4  154   16   96

In [55]:
#2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:\n", df)

sum_col = df.apply(lambda x: x.sum(), axis=1)  # Sum of each column
df['Sum'] = sum_col  # Add new column with the sum of existing columns
print("DataFrame after applying lambda function:\n", df)

Original DataFrame:
     A   B   C
0  61  11  14
1  40  10  88
2  97   2  60
3  39   6  36
4  87  37  65
5  79  53  38
DataFrame after applying lambda function:
     A   B   C  Sum
0  61  11  14   86
1  40  10  88  138
2  97   2  60  159
3  39   6  36   81
4  87  37  65  189
5  79  53  38  170

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [56]:
#1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
df = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:\n", df)
df_upper = df.str.upper()  # Convert all strings to uppercase
print("Series after converting to uppercase:\n", df_upper)

Original Series:
 0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Series after converting to uppercase:
 0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

In [57]:
#2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.
df = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:\n", df)
df_first_three = df.str[:3]  # Extract the first three characters of each string
print("Series after extracting first three characters:\n", df_first_three)

Original Series:
 0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Series after extracting first three characters:
 0    app
1    ban
2    che
3    dat
4    eld
dtype: object